{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#membersList}}
        <tr>
            <th>{{id}}</th>
            <th><a href="/members/{{id}}">{{email}}</a></th>
            <th>{{password}}</th>
        </tr>
    {{/membersList}}
    </tbody>
</table>

<a href="/signup">Sign up</a>

{{>layouts/footer}}